%center/
%h2 GTIN Lookup
%br/
%form{:action => search_path, :method => :get, :data => { :remote => "true" }}
  %label{:for => "gtin"} GTIN:&nbsp;
  %input{:id => "gtin", :name => "gtin", :size => "20"}/
  %input{:type => "SUBMIT", :value => "Search"}/
%br/
%br/
#results